$headline: #2b2c34;
$paragraph: #2b2c34;
$button: #6246ea;
$button-text: #fffffe;
$background-text: #fffffe;


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(-45deg, rgba(2,0,36,1) 0%, rgba(98,70,234,1) 0%, rgba(255,110,108,1) 63%, rgba(0,212,255,1) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 1.5s;
}

a {
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
nav {
  display: flex;
  width: 100%;
  margin-top: 2%;
  text-align: center;
  margin-bottom: 20px;
  height: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  & a { 
      color: #fffffe;
      justify-content: center;
      text-align: center;
      align-items: center;
  }  
}

.section {
  height: 100%;

  & .section-2 {     

   background-color: $background-text;
   height: 100%;

    & .title {
      display: flex;
      justify-content: center;
      padding-top: 3rem;
      font-family: 'Open Sans', sans-serif;
      color: #fffffe;
      font-size: 50px;
      font-weight: 100;
    }

    & .submenu {
      & a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-family: 'Open sans', sans-serif;
        margin: 0% 1% 0% 1%;
      }
    }
  }

  & .section-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
      flex-direction: column;
      color: #fffffe;
      & a {
          background-color: #FFFFFe;
          color: #ff6e6c;
          font-size: 18px;
          font-weight: 700;
          font-family: 'Open Sans', sans-serif;
          padding: 0.5rem 1rem 0.5rem 1rem;
          margin-top: 2rem;
      } 
      & .flex-photo {
        margin-top: -10%;
      }
      & .profile-photo {
        display:inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 2%;
        & img { 
          width: auto;
          height: 100%;
          margin-left: -25%;
        }
      } 
      & .name { 
          font-size: 30px;
          color: #fffffe;
          display: flex;
          justify-content: center;
          font-family: 'Bellota Text', cursive;
          margin-top: 2%;
          font-weight: 700;
      }
      & p {
          padding-top: 1rem;
          font-size: 1rem;
          line-height: 1.8;
          color: #fffffe;
          font-family: 'Open Sans', sans-serif;
          text-align: justify;
          margin: 1% 15% 0% 15%;
      }
  }
}